.table-header {
    width: min-content;
    span {
        font-weight: bold;
    }
}

.table-wrapper {
    width: 100%;

    flex-grow: 1;
}

:host {
    width: 100%;
}

:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }
}

th .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-contnet {
    width: 100%;
    height: 400px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
